main {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'aside aside left left right right'
    'aside aside footer footer footer footer';
}
main > * {
  border: 1px solid red;
  padding: 20px;
  margin: 2px
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

footer {
  grid-area: footer;
}