* {
  box-sizing: border-box;
}
.form-element { 
  max-width: 500px;
  background-color: #cfcbcb;
  border-radius: 4px;
  padding: 20px;
  margin-inline: auto;
}

input, label, select {
  display: block;
}

label {
  margin-bottom: 8px;
}

.form-control {
  margin-bottom: 16px;
  width: 100%;
  padding: 4px 8px;
}

#btnSubmit {
  width: 100%;
  background-color: mediumseagreen;
  border-radius: 4px;
  border: none;
  padding: 4px 8px;
  margin-top: 10px;
  cursor: pointer;
}

#btnSubmit:hover {
  background-color: rgb(48, 146, 90);
  color: white
}